h2 {
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 4%;
    font-family: "Anggada FREE";
    color: #fff;
    font-size: 6rem;
}

.border-title {
    border-radius: 4% solid black;
}

@font-face {
    font-family: "Anggada FREE";
    src: url("/src/assets/fonts/anggada/Anggada\ FREE.ttf") format("truetype");
}

.float {
    float: right;
}

.img-intro {
    border-radius: 4%;
    height: 350px;
    width: 100%;
}

hr {
    margin-top: 4%;
    border-top: 3px solid #fff;
    border-radius: 4%;
    color: #fff;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    padding: 0 4px;
    position: relative;
    top: -13px;
}

p {
    background-color: #fff;
    color: #333;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
}

img {
    width: 50%;
    height: 30%;
    opacity: 0.8;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.4);
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
    margin-top: 5%;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}