<hr>
<h2 class="offset-3 col-6 ">Presentation & History</h2>
<hr>

<img src="../../assets/3220958223_1_2_OU9fowO8.png">

<p class="paragraph  offset-2 col-8 d-flex justify-content-center ">
    Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate
    canities populique Romani nomen circumspectum et verecundum. Vbi curarum abiectis ponderibus aliis tamquam nodum et codicem difficillimum Caesarem convellere nisu valido cogitabat, eique deliberanti cum proximis clandestinis conloquiis et nocturnis
    qua vi, quibusve commentis id fieret, antequam effundendis rebus pertinacius incumberet confidentia acciri mollioribus scriptis per simulationem tractatus publici nimis urgentis eundem placuerat Gallum, ut auxilio destitutus sine ullo interiret obstaculo.
</p>

<hr>
<h2 class="offset-3 col-6" id="Image">Image</h2>
<hr>

<article class="container">
    <div class="row">
        <img src="../../assets/circus lions.jpg">
        <img src="../../assets/maxresdefault.jpg">
        <img src="../../assets/circus lions.jpg">
        <img src="../../assets/maxresdefault.jpg">
        <img src="../../assets/circus lions.jpg">
        <img src="../../assets/maxresdefault.jpg">
    </div>
</article>