nav {
    margin-top: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.navbar-brand {
    font-size: 2.8rem;
}

.navbar-expand {
    display: flex;
    justify-content: flex-start;
    margin-top: 0%;
    padding-top: 0%;
}

.navbar-nav {
    display: flex;
    justify-content: center;
}