<article>
    <hr>
    <h2 class="offset-3 col-6" id="Price">Price</h2>
    <hr>

    <div class="columns">
        <ul class="price">
            <li class="header" style="background-color:blue">Children</li>
            <li class="grey">Week : $ 24.99</li>
            <li>Week-end : $ 34.99</li>
            <li>Holidays : $ 40.99</li>
            <li class="grey"><a href="#" class="button">Buy</a></li>
        </ul>
    </div>
    <div class="columns">
        <ul class="price">
            <li class="header" style="background-color:blue">Adult</li>
            <li class="grey">Week : $ 24.99</li>
            <li>Week-end : $ 34.99</li>
            <li>Holidays : $ 40.99</li>
            <li class="grey"><a href="#" class="button">Buy</a></li>
        </ul>
    </div>
    <div class="columns">
        <ul class="price">
            <li class="header" style="background-color:blue">Group</li>
            <li class="grey">Week : $ 24.99</li>
            <li>Week-end : $ 34.99</li>
            <li>Holidays : $ 40.99</li>
            <li class="grey"><a href="#" class="button">Buy</a></li>
        </ul>
    </div>
</article>